@import "tailwindcss";

:root {
  --background: #000f1a;
  --background-secondary: #001525;
  --foreground: #ffffff;
  --color-primary: #3b82f6;
  --color-hint: #a7a7a7;
}

@theme inline {
  --color-background: var(--background);
  --color-background-secondary: var(--background-secondary);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: var(--color-primary);
  --color-hint: var(--color-hint);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000f1a;
    --background-secondary: #001525;
    --foreground: #ffffff;
    --color-primary: #3b82f6;
    --color-hint: #a7a7a7;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif, var(--font-inter);
}

h1 {
  color: var(--color-foreground);
  font-size: 2rem;
  font-weight: 700;
  font-family: var(--font-inter);
  letter-spacing: -0.02em;
  line-height: 1.15;
}

@media (min-width: 768px) {
  h1 {
    font-size: 3rem;
  }
}

h2 {
  color: var(--color-foreground);
  font-size: 1.5rem;
  font-weight: 700;
}

@media (min-width: 768px) {
  h2 {
    font-size: 2rem;
  }
}

h3 {
  color: var(--color-foreground);
  font-size: 1.25rem;
  font-weight: 700;
}

@media (min-width: 768px) {
  h3 {
    font-size: 1.5rem;
  }
}

h4 {
  color: var(--color-foreground);
  font-size: 1.125rem;
  font-weight: 600;
}

@media (min-width: 768px) {
  h4 {
    font-size: 1.25rem;
  }
}

h5 {
  color: var(--color-foreground);
  font-size: 0.875rem;
  font-weight: 600;
}

@media (min-width: 768px) {
  h5 {
    font-size: 1rem;
  }
}

p {
  color: var(--color-hint);
  font-size: 1rem;
  font-weight: 600;
}

@media (min-width: 768px) {
  p {
    font-size: 1.25rem;
  }
}

.hint {
  color: var(--color-hint);
  font-size: 1.25rem;
  font-weight: 400;
}

.text-button {
  color: var(--color-hint);
  font-size: 1rem;
  font-weight: 600;
}

.text-button:hover {
  color: var(--color-foreground);
  font-size: 1rem;
  font-weight: 600;
}

.primary-rounded-button {
  background-color: var(--color-primary);
  color: var(--color-foreground);
  font-size: 1rem;
  font-weight: 600;
  padding: 0.5rem 1.5rem;
  border-radius: 1000px;
  transition: background-color 0.3s ease;
  font-family: var(--font-inter);
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-30px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes dropIn {
  from {
    opacity: 0;
    transform: translateY(-40px) scale(0.9);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
